.delete {
    padding: 0 !important;
    width: 31px;
}

.delete span {
    font-size: 21px;
    font-weight: bolder;
}

li {
    width: 300px;
}

.done {
    text-decoration: line-through;
    color: grey;
}