.my-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.my-modal__body {
    /*padding: 5rem;*/
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background: white;
}

.my-modal__header {
    display: flex;
    flex-direction: row;
}

.my-modal__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-red {
    color: red !important;
}